body {
    display: flex;
    background: rgb(232, 237, 229);
    margin: 0px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.box {
    display: flex;
    flex-direction: column;
    background: rgb(42, 55, 68);
    border-radius: 30px;
    height: 400px;
    width: 448px;
    justify-content: center;
    align-items: center;
}

.first {
    margin-top: -15px;
    font-size: 24px;
    color: aliceblue;
}

.second {
    font-size: 24px;
    color: rgb(74, 222, 128);
}

.third {
    margin-bottom: 20px;
    font-size: 16px;
    color: oklch(0.707 0.022 261.325)
}

#generate {
    background: rgb(74, 222, 128);
    border: 0px solid rgb(74, 222, 128);
    width: 350px;
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
}

#generate:hover {
    background-color: rgb(61, 201, 112);
}

.pass {
    margin-top: 50px;
}

.password {
    background: #1e2936;
    width: 100px;
    margin-left: 40px;
    margin-right: 40px;
    color: rgb(61, 201, 112);
    padding: 15px;
}